.DS_Store
.idea/
*.pdf
*.eps
*.dat
*.pyc
/report.SimdelMolinoEtAl.txt
/delMolinoEtAl.gv
/LEMS_SimdelMolinoEtAl.xml
notebooks/.ipynb_checkpoints
/x86_64
/NeuroML/LEMS_SimdelMolinoEtAl.xml
/NeuroML/delMolinoEtAl.gv
/NeuroML/delMolinoEtAl.gv.png
/NeuroML/delMolinoEtAl.net.nml
/NeuroML/temp
/NeuroML/Fig3/*.pov
/NeuroML/Fig3/*nml*.png
/NeuroML/Fig1/*.mod
/NeuroML/Fig1/*_nrn.py
/NeuroML/Fig1/x86_64
/NeuroML/report.SimdelMolinoEtAl.txt
/NeuroML/Fig2/*.mod
/NeuroML/Fig2/x86_64
/NeuroML/Fig2/*_nrn.py
/NeuroML/Fig3/*.mod
/NeuroML/Fig3/x86_64
/NeuroML/Fig3/*_nrn.py
/NeuroML/Fig1/quick.py
/NeuroML/Fig3/net2.gv*
/NeuroML/Fig3/RandomPopulationRate_low_baseline.nml_movie.ini
/NeuroML/Fig3/RandomPopulationRate_low_baseline.png
/NeuroML/Fig3/LEMS_PopulationSimhighBaseline.xml
/NeuroML/Fig3/LEMS_PopulationSimlowBaseline.xml
arm64
/NeuroML/delMolinoEtAl.yaml
/NeuroML/delMolinoEtAl__lems.xml
/NeuroML/ParamSweep_*
/NeuroML/report.*txt
/NeuroML/LEMS_SimdelMolinoEtAl_high_baseline.xml
/NeuroML/LEMS_SimdelMolinoEtAl_low_baseline.xml
/NeuroML/average_last_1percent_delMolinoEtAl_low_baseline.png
/NeuroML/firing_rates_delMolinoEtAl_low_baseline.png
/NeuroML/delMolinoEtAl_high_baseline.net.nml
/NeuroML/delMolinoEtAl_high_baseline__lems.xml
/NeuroML/delMolinoEtAl_low_baseline.net.nml
/NeuroML/delMolinoEtAl_low_baseline__lems.xml
/NeuroML/delMolinoEtAl_low_baseline.gv
/NeuroML/delMolinoEtAl_low_baseline.gv.png
