.DS_Store
.idea/
*.pdf
*.eps
*.dat
/report.SimdelMolinoEtAl.txt
/delMolinoEtAl.gv
/LEMS_SimdelMolinoEtAl.xml
notebooks/.ipynb_checkpoints
/x86_64
/NeuroML/LEMS_SimdelMolinoEtAl.xml
/NeuroML/SimdelMolinoEtAl.json
/NeuroML/delMolinoEtAl.gv
/NeuroML/delMolinoEtAl.gv.png
/NeuroML/delMolinoEtAl.json
/NeuroML/delMolinoEtAl.net.nml
/NeuroML/temp
